@{
    ViewData["Title"]="Dashboard";
}

<div class="container mt-5">

<h2 class="text-success">

Bienvenido a EcoCycle

</h2>

<hr>

<div class="row">

<div class="col-md-3">

<div class="card shadow">

<div class="card-body">

<h4>♻ Publicar</h4>

<a class="btn btn-success w-100">

Ir

</a>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card shadow">

<div class="card-body">

<h4>📍 Centros</h4>

<a class="btn btn-primary w-100">

Ver

</a>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card shadow">

<div class="card-body">

<h4>🎁 Recompensas</h4>

<a class="btn btn-warning w-100">

Entrar

</a>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card shadow">

<div class="card-body">

<h4>⭐ Puntos</h4>

<h2>0</h2>

</div>

</div>

</div>

</div>

</div>