@model EcoCycleMVC.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-success text-center">
        @TempData["Mensaje"]
    </div>
}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-5">

            <div class="card shadow-lg">

                <div class="card-header bg-success text-white text-center">

                    <h2>Iniciar Sesión</h2>

                </div>

                <div class="card-body">

                    @if (ViewBag.Error != null)
                    {
                        <div class="alert alert-danger">
                            @ViewBag.Error
                        </div>
                    }

                    <form asp-action="Login" method="post">

                        <input asp-for="Correo"
                               class="form-control mb-3"
                               placeholder="Correo" />

                        <input asp-for="Password"
                               type="password"
                               class="form-control mb-3"
                               placeholder="Contraseña" />

                        <button class="btn btn-success w-100">
                            Entrar
                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>